<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <% if(req.isAuthenticated()){ %>
        <title><%- req.user.username%>'s infos.</title>
        <%
     var verif;
        if(req.user.verified === false){
            verif = "non";
        }
        if(req.user.verified === true){
            verif = "vérifié";
        }
        
        var a2f;
        if(req.user.mfa_enabled === false){
            a2f = "désactivé";
        }
        if(req.user.mfa_enabled === true){
            a2f = "activé";
        } 
        %>

<%- include("includes/nav.ejs") %>

    <div class="content">

        <div class="avatar">
        <img src="https://cdn.discordapp.com/avatars/<%-req.user.id%>/<%-req.user.avatar%>.png?size=128">
        </div>

    <br><br>
    <center>
        <table id="t01">
        <tr>
            <th>Nom</th>
            <th>id</th> 
            <th>Niveau de perm</th>
            <th>Créateur</th>
        </tr>
        <% req.user.guilds.forEach(guild => { %>
        <tr>
            <td><img class="servericon" src="https://cdn.discordapp.com/icons/<%-guild.id%>/<%-guild.icon%>.png?size=128" width="25px;"> <%- guild.name %></td>
            <td><%- guild.id %></td>
            <td><%- guild.permissions %></td>
            <td><%- guild.owner? 'Oui' : 'Non' %></td>
        </tr>
        <% }) %>
</table>
<br><br>
</center>
</div>


<% } if(!req.isAuthenticated()){ %><%-include('includes/auth.ejs') %><%}%>
        
        </div>
    </body>
</html>